/*
Colores #A3ACE9 Celeste, #2E42CF azul fuerte, blanco #FFFFFF
*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

  
/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

body{
    /*  */
    background-color: aqua;
    
}

header{
    background-color: #FFFFFF;
    /* position: fixed; */
    top: 0;
    
    z-index: 3;
    
}
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}
main{
    /* margin-top: 5.3rem; */
    background-color: blue;
    
    
   
}
a{
    text-decoration: none;
}

/* FIN ESTILOS GENERALES */

/* HEADER */
nav a{
    color: hsl(0, 1%, 58%);
    font-weight: 600;
    padding-right: 0.3rem;
    font-size: 0.7rem;
    transition: all 250ms;
}
.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    padding: 0.4rem 0rem;
    
}
.logo-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-header a{
    font-size: 1.3rem;
    font-weight: 800;
    
    color: #FFFFFF;
    background-color: #2E42CF;
    border-radius: 75% ;
    padding: 7px 10px 7px 13px;
    border: 10px;
}



nav a:hover{
    color: #070707;
}

.menu-responsive{
    display: none;
}
.menu-responsive i{
    font-size: 2rem;
    color: #2E42CF;
}


/* FIN HEADER */

/* MEDIA QUERIES - HEADER */
@media (max-width: 1170px) {
    nav{
        display: none;
    }
    
    .menu-responsive{
        display: block;
    }
}
/* FIN MEDIA QUERIES - HEADER */

/* HERO*/
.section-hero{
    width: 60%;
    background-color:pink ;/* #FFFFFF;*/
    /* padding-top: 6rem; */
    margin: 0 auto;
}
.hero{
    
    background-color: #FFFFFF;
    /* padding: 0rem 2rem; */
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
}
.hero-textos{
    /* flex-basis: 60%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 10px;
    /* background-color: red; */
    
}
.hero-textos h1{
    /* width: 70%; */
    line-height: 0px;
}

.presentacion{
    display: flex;
    
}
.subrayado1{
    /* width: 70%; */
    line-height: 0px;
    
    border-bottom-style:solid #FFFFFF;
    /* margin-right: 5px; */
    font-size: 35px;
    font-weight: 900;
    padding-right: 6px;
    
}

.subrayado2{
    
    line-height: 0px;
    padding-bottom: 12px;
    border-bottom-style:solid;
    border-bottom-color: #A3ACE9;
    border-bottom-width: 10px;
    font-size:35px;
    font-weight: 900;
    
    
      
}

.hola{
    color:#707070;
    font-size: small;
    padding-top: 150px;
    
    }


.hero-textos p{
    color: #070707;
    font-weight: 500;
    font-weight: bold;
    /* width: 60%; */
    padding: 5px 0px;
    line-height: normal;
    
    
}

/* hero-img es la imagen */
.hero img{
    /* max-width: 31vw; */
    width: 50%;
    height: 35rem;
    
    flex-basis: 40%;
    object-fit: cover;
    transform: rotateY(180deg);
    /* background-color: yellow; */
    /* margin-right: 10%; */
    
    
}

/* hero-input es el botón */
.hero-input{
    position: relative;
    background-color:#2E42CF;
}
/* .hero-input input{
    width: 35vw;
    padding: 1.8rem 3.2rem;
    border-radius: 35px;
    border: none;
    background-color:#2E42CF;
} */

/* hero-input es el botón */
.hero-input button{
    position: absolute;
    /* top: 9px; */
    /* left: 32.5vw; */
    font-size: 1rem;
    background-color: #2E42CF;
    color: #FFFFFF;
    padding: 0.5rem 1.6rem;
    border: 1px solid #2E42CF;
    border-radius: 3px;
    /* font-family: 'Nunito', sans-serif; */
    font-weight: 500;
    cursor: pointer;
    transition: all 250ms;
}

.hero-input button:hover{
    background-color: transparent;
    color: #2E42CF;
}


/* FIN HERO */


/* MEDIA-QUERIES HERO */
@media (max-width:1721px) {
    .section-hero h1{
        width: 89%;
    }
}
@media (max-width:1456px) {
    .section-hero h1{
        width: 95%;
        font-size: 4.2rem;
    }
    .hero-textos p{
        width: 100%;
        font-size: 1.3rem;
    }
  
}
@media (max-width:1240px){
    .section-hero h1{
        width: 100%;
        font-size: 4rem;
    }
    .section-hero img{
        height: 39rem;
    }
}
@media (max-width: 1170px) {
    .section-hero h1{
        width: 95%;
        font-size: 4rem;
    }
    .hero-textos p{
        width: 100%;
        font-size: 1.5rem;
    }
    .hero img{
        display: none;
    }
    .hero-textos{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-basis: 100%;
    }
    .hero-input input{
        width: 60vw;
    }
    .hero-input button{
        left: 55vw;
    }
    .hero-numeros{
        gap: 7rem;
    }
}
@media (max-width:920px){
    .hero-numeros{
        gap: 3rem;
    }
}
@media(max-width:708px){
    .section-hero{
        padding: 3rem 0rem 1rem;
    }
    .hero-textos h1{
        font-size: 3.5rem;
        width: 100%;
    }
    .hero-textos p{
        font-size: 1.2rem;
    }
}
@media(max-width:588px){
    .hero-textos h1{
        font-size: 2.6rem;
    }
}
@media(max-width:437px){
    .hero-textos h1{
        font-size: 2.2rem;
    }
    .hero-textos p{
        font-size: 1rem;
    }
    .hero-numero h3{
        font-size: 1.6rem;
    }
    .hero-input input{
        width: 65vw;
        padding: 1.5rem 2.7rem;
    }
    .hero-input button{
        padding: 0.7rem 2rem;
    }
    .hero-input i{
        top: 21px;
    }
}
@media(max-width: 320px){
    .hero-textos h1{
        font-size: 1.8rem;
    }
    .hero-textos p{
        font-size: 0.9rem;
    }
    .hero-numero h3{
        font-size: 1.6rem;
    }
    .hero-input input{
        width: 60vw;
        padding: 1rem 2rem;
    }
    .hero-input button{
        padding: 0.4rem 1.2rem;
        top: 6px;
    }
    .hero-input i{
        top: 13px;
        left: 13px;
    }
}


/* FIN MEDIA-QUERIES HERO */